div.container div.event.fall-fling {
    width: 875px;
}

div.container div.event.fall-fling p {
    line-height: 1.47;
}

div.warning {
    background-color: #fbfb99;
    border-radius: 16px;
    border: 1px solid #D3D3D3;
    padding: 15px 40px;
    width: 611px;
}

.entry div#detail {
    background-color: #F9FCEB;
    border: 1px solid #151515;
    border-radius: 16px 16px 16px 16px;
    color: #8A8A8A;
    font-size: 11px;
    line-height: 16px;
    padding: 10px;
    width: 750px;
    margin-bottom: 20px;
}

