/* CUGOS CSS */
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Nunito:400,300,700);
body {
  margin:0;padding:0;
  background-color: #e5e5e5;
  font-family: 'Nunito', sans-serif;
}
.cf:before,
.cf:after {
  content:" ";
  display:table;
}
.cf:after {
  clear:both;
}
.cf {
  *zoom:1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
}
a {
  text-decoration:none;
}
p {
  font-weight:100;
}
.main {
  background: url(../image/texture-w.png) repeat;
}
.copyright {
  padding-top: 5px;
  text-align: center;
}
.chunk {
  padding:10px;
  background-color:#ffffff;
}
@media screen and (min-width:41em) {
  .chunk {
    padding:30px;
    margin-bottom:15px;
    background-color:#ffffff;
  }
}

/* SCAFFOLDING */
.container {
  display:block;
  margin:auto;
  position:relative;
}
.page-header {
  width:100%;
  background:url(../image/cascades1.jpg) center center no-repeat;
  background-size:cover;
  text-align:center;
  color:#fff;
}
.page-header .header-info {
  padding:60px 0;
}
.header-info h1 {
  font-size:3.3em;
  margin:0 auto;
  text-shadow:2px 2px 4px #000;
}
.header-info h2 {
  font-weight:100;
  font-size:1.2em;
  text-transform:uppercase;
  border-top:1px solid #fff;
  display:inline-block;
  margin:0;
  padding:.2em 1em;
  text-shadow:1px 1px 2px #000;
}
@media screen and (min-width:41em) {
  .container {
    width:40em;
  }
}
@media screen and (min-width:56em) {
  .container {
    width:55em;
  }
}

/* GLOBALS */
.content {
  padding:0 1em;
  font-weight:100;
}
.content a {
  font-weight:700;
  color:#3f75a2;
  text-decoration:underline;
}
.content a:hover {
}
.content img {
  max-width:100%;
  height:auto;
}
.content blockquote {
  font-style:italic;
  color:#999;
}
.content hr {
  border:none;
  border-top:1px dashed #333;
}
@media screen and (min-width:41em) {
  .content {
    padding:0;
    font-size:1.1em;
  }
}


/* NAVIGATION */
nav {
  display:block;
  background-color: #3f75a2;
  border-bottom: none;
  font-family: 'Dosis', sans-serif;
}
#nav {
  margin:0;
  padding:0;
  display:inline-block;
}
#nav li {
  display:inline;
}
#nav li a {
  display:inline-block;
  font-weight: 200;
  font-size: 1em;
  color: #e5e5e5;
  text-transform: uppercase;
  padding:.6em .8em;
}
#nav li a:hover {
  background-color: #346085;
}
#brand-logo {
  float:right;
  font-size:2em;
  font-weight:900;
  color:#fff;
}
#brand-logo .cugos-svg {
  margin-top:-10px;
  width: 35px;
  height: 35px;
  fill: #e5e5e5;
  vertical-align:middle;
}
#brand-logo:hover {
  opacity:.8;
}


/* HOMEPAGE */
.home .cugos-svg {
  margin:auto;
  width:100px;
  height:100px;
  display:block;
  fill: #ffffff;
}
.intro {
  position:relative;
  overflow:hidden;
}
.intro p {
  color:#333;
  font-size:1.5em;
  line-height:1.4em;
  padding:0; margin:0;
  letter-spacing:.12em;
}
.intro p span {
  padding-bottom:2px;
  border-bottom:2px solid #3f75a2;
}
.intro p span:nth-child(2n) {
  border-bottom:2px solid #75a23f;
}

.alert {
  background-color:#3f75a2;
  border-radius:0px;
  padding:.5em;
  text-align:center;
  font-size:1.7em;
  color:#f6f6f6;
}
.alert p a {
  border-bottom:1px dashed #e5e5e5;
  color:#f6f6f6;
}
.alert p a:hover {
  border-bottom:1px solid #e5e5e5;
}


/* MEETING PAGE */
.meetings-desc {
  display: block;
}
#meetings-list {
  margin:0;padding:0;
  list-style-type: none;
}
#meetings-list li {
  background-color:#fff;
  margin-bottom:15px;
}
#meetings-list li img {
  float:left;
  margin-right:15px;
}
.meeting-list-info {
  box-sizing:border-box;  
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box;
  padding:15px;
  color:#333;
}
.meeting-list-date {
  font-weight:900;
}
.meeting-list-address {
  font-size:.9em;
  color:#c0c0c0;
}
@media screen and (min-width:56em) {
  #meetings-list li {
    float:left;
    width:46%;
  }
  #meetings-list li:nth-child(2n) {
    float:right;
  }
  .meeting-list-info {
    padding:0px 15px;
  }
  #meetings-list li:hover {
    background-color:#333;
  }
  #meetings-list li:hover .meeting-list-info {
    color:#e5e5e5
  }
}



/* SINGLE MEETINGS */
.page-header.meeting {
  background-image:url(../image/header-from-above.png);
}
.meeting-info {
  background-color:#fff;
  box-sizing:border-box;  
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box;
  padding:1px 15px;
}
#meeting-map {
  height:120px;
}
@media screen and (min-width:56em) {
  .meeting-info {
    float:left;
    width:50%;
    height:300px;
  }
  #meeting-map {
    width:50%;
    height:300px;
    float:right;
  }
}
.coords {
  display:block;
  text-align:right;
  font-size:.8em;
  color:#999;
}
#meetings-list-single {
  list-style-type: none;
  margin:0; padding:0;
}
#meetings-list-single li {
  display:inline-block;
  margin-bottom:5px;
}
#meetings-list-single li a {
  display:inline-block;
  background-color:#fff;
  color:#333;
  padding:.5em 1em;
}
#meetings-list-single li a:hover {
  background-color:#333;
  color:#e5e5e5;
}
#meetings-list-single li a.active {
  background-color:#3f75a2;
  color:#f6f6f6;
}