---
layout: default
title: Home
---

{% for meeting in site.categories.meetings limit: 1  %}
      <div class="alert alert-info">
        <h4>Next CUGOS meeting: <a style="color:black;" href={{ meeting.url }}>{{ meeting.title }}</a></h4>
      </div>
{% endfor %}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h2 style="color:white;">CUGOS in Action</h2>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Upcoming Events</h2>
{% for event in site.categories.events limit: 2  %}
          <div class="event">
            <h4><a href={{ event.url }}>{{ event.title }}</a></h4>
            <span class="date">{{ event.date | date_to_string }}</span>
            <div class="entry">{{ event.excerpt }}</div>
          </div>
{% endfor %}
        </div>
        <div class="span4">
          <h2>Latest Blogs</h2>
{% for blog in site.categories.blog limit: 2  %}
          <div class="blog">
            <h4><a href={{ blog.url }}>{{ blog.title }}</a></h4>
            <span class="date">{{ blog.date | date_to_string }}</span>
            <div class="entry">{{ blog.excerpt }}</div>
          </div>
{% endfor %}
       </div>
        <div class="span4">
          <h2>Latest Projects</h2>
{% for project in site.categories.projects limit: 2  %}
          <div class="project">
            <h4><a href={{ project.url }}>{{ project.title }}</a></h4>
            <div class="entry">{{ project.excerpt }}</div>
          </div>
{% endfor %}
        </div>
      </div>

