---
layout: default
title: People
weight: 6
permalink: 
extra_css:
  - http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css
  - /css/font-awesome.min.css
extra_js:
  - http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js
  - /js/people.js
---

<div id="people-map"></div>

<h2>People</h2>
<script>
var mediaQuery = "(-webkit-min-device-pixel-ratio: 1.5),\
                  (min--moz-device-pixel-ratio: 1.5),\
                  (-o-min-device-pixel-ratio: 3/2),\
                  (min-resolution: 1.5dppx)";

var provider = 'http://{s}.tile.stamen.com/toner/{z}/{x}/{y}.png';

if (getParameterByName("retina") ||
    window.devicePixelRatio > 1 ||
    (window.matchMedia && window.matchMedia(mediaQuery).matches)) {
  // replace the last "." with "@2x."
  provider = provider.replace(/\.(?!.*\.)/, "@2x.")
}

var map = L.map('people-map').setView([47.923704717745686, -122.420654296875], 6);
L.tileLayer(provider).addTo(map);
map.scrollWheelZoom.disable();
map.dragging.disable();
</script>
<div class="content">
  <ul id="people-list">
  {% for person in site.categories.people %}
    <li class="person" id="{{ person.github }}">
      <script>
      var lat = {{ person.lat }};
      var lng = {{ person.lng }};
      var mbox = L.icon({
        iconUrl: '/js/maps/img/marker.png',
        iconSize:     [30, 70],
        iconAnchor:   [15, 35],
        popupAnchor:  [0, -35]
      });
      var marker = L.marker([lat, lng], {
        icon: mbox
      }).addTo(map).bindPopup('{{ person.title }}');
      </script>
      <img src="{{ person.image }}">
      <div class="people-list-info">
        <h3>{{ person.title }}</h3>
        <p>{{ person.excerpt }}</p>
        {% if person.twitter %}
        <a class="social" href="http://twitter.com/{{ person.twitter }}"><i class="fa fa-twitter"></i> {{ person.twitter }}</a>
        {% endif %}
        {% if person.github %}
        <a class="social" href="http://github.com/{{ person.github }}"><i class="fa fa-github"></i> {{ person.github }}</a>
        {% endif %}
      </div>
      <div class="person-description">{{ person.content }}</div>
      <div class="cf"></div>
    </li>
  {% endfor %}
  </ul>
</div>
