---
layout: default
title: People
weight: 6
extra_js:
  - /static/js/people.js
---

<script>
var peopleGeoJson = {
  "type": "FeatureCollection",
  "features": [
    {% for person in site.categories.people %}
    {
      "type": "Feature",
      "properties": {
        'title': '{{ person.title }}',
        'marker-color': '#BE9A6B',
        'marker-symbol': 'star'
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          {{ person.lng }},
          {{ person.lat }}
        ]
      }
    },{% endfor %}
  ]
};
</script>

<div id="people-map"></div>

<div id="people-list" class="cf">
  {% for person in site.categories.people %}
  <a href="https://github.com/{{ person.github }}" class="person" data-title="{{ person.title }}" id="{{ person.github }}" style="background-image:url({{ person.image }});"></a>
  {% endfor %}
</div>
