<nav id="navbar">
  <div class="container cf">
    <a id="brand-logo" href="/">CUGOS {% include cugos-svg-logo.html %}</a>
    <button id="menu-expand"><i class="fa fa-bars"></i></button>
    <ul id="menu">
      {% for weight in (0..10) %}{% for p in site.pages %}{% if p.weight == weight %}
      <li class="{% if p.url == page.url %}active{% endif %} {{ p.nav_class }}">
        <a href="{{ p.url }}">
          {% if p.title_small %}
            {{ p.title_small }}
          {% else %}
            {{ p.title }}
          {% endif %}
        </a>
      </li>
      {% endif %}{% endfor %}{% endfor %}
    </ul>
  </div>
</nav>
