/* 
CUGOS Web Site Stylesheet
Adam Hindman, Pugetworks
Last modified July 16th, twenty-aught-nine
*/

/* ########################### */
/* ######## HTML TAGS ######## */
/* ########################### */

html{background-image:url('/media/images/bg-tile-300.png');}

body{
text-align:center;
border-top:20px solid #00c7ff;
padding-top:10px;
line-height:1.8;
color:#656867;
font-family:Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

h1,h2{margin:0px;letter-spacing:.1em;color:#067ea9}

h3,h4{margin:2px auto;color:#333;font-weight:bold}

h1{font-size:200%}
h2{font-size:165%}
h3{font-size:93%}
h4{font-size:125%}

abbr{
border-bottom:2px dotted #00c7ff;
cursor:help;
}

a{color:#067ea9;}
a:link{color:#067ea9}
a:visited{color:#085b79}
a:hover{color:#00c7ff;}
a:active{color:#00c7ff}

/* ########################### */
/* ###### SPECIFIC PAGES ##### */
/* ########################### */

/* ########################### */
/* ###### PAGE STRUCTURE ##### */
/* ########################### */

/* ==== CONTAINER / FRAME ==== */
.container{
text-align:left;
width:1000px;
margin:auto;
background: url('/media/images/grime.png');
background-position:0% 80%;
background-repeat:no-repeat;
}

#header p{width:480px;float:left;}
#header img{float:left;margin:-40px 0px 0px 50px;}

#quote,#footer{
border-top:1px solid #e0e6e4;
border-bottom:1px solid #e0e6e4;
margin:0;
}

#quote h2,#footer{
background-image:url('/media/images/dotted-bg.png');
text-align:center;
padding:5px;
margin:5px 0px;
letter-spacing:.15em;
}

#left,#center,#right{float:left;}
#left{width:480px;}
#left .section{padding-left:0px;position:relative;padding-top:10px;}

.screenshot{margin:0px 0px 20px 20px}
.screenshot a{font-size:85%;}

#map{
width:468px;
height:300px;
background-image:url('/media/images/dotted-bg.png');
border:1px solid #e0e6ef;
}

#loading{
position:absolute;
z-index:2000;
top:155px;
left:165px
}

#center,#right{width:240px}
#left,#center{
border-right:1px solid #e0e6e4;
}

#events li{padding:5px;border-bottom:1px solid #e0e6e4;}
#events li:last-child{border:0px;}
#events li p {margin-bottom:5px;}
#events em{font-style:italic;}

#footer{
clear:both;
padding:0px;
}

#footer a{
background: url('/media/images/pw-normal.png') no-repeat;
display:block;
width:127px;
height:38px;
margin:7px 0;
}

#footer a:hover{background-image: url('/media/images/pw-active.png');}


/* ########################### */
/* ##### UTILITY CLASSES ##### */
/* ########################### */

.section{padding:0px 10px 10px 10px;border-bottom:1px solid #e0e6e4}
.noBorder{border:0px;}
.nevis{color:#067ea9;font-size:130%;letter-spacing:.07em;margin:6px auto}

.even{
background-color:#e5f3f7;
border-bottom:1px solid #c1dde4;
}

.pLeft0{padding-left:0px;}

.alignRight{text-align:right}
.alignLeft{text-align:left}
.alignCenter{text-align:center;}
.floatRight{float:right}
.floatLeft{float:left}

.m10{margin:10px;}
.mTop10{margin-top:10px}
.mRight10{margin-right:10px}
.mBottom10{margin-bottom:10px}
.mLeft10{margin-left:10px}
.p10{padding:0;}
.floatLeftM10{margin:0px 10px 10px 0px}
.floatRightm10{margin:0px 0px 10px 10px}

.clearBoth, .cb, .clear{clear:both;margin:0px;padding:0px;}

.clearFix:after,.cf:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearFix, .cf{display: inline-block;_height:1px;}

/* Hides from IE-mac \*/
* html .clearFix {height: 1%;}
.clearFix {display: block;}
/* End hide from IE-mac */

/* ########################### */
/* ###### PAGE ELEMENTS ###### */
/* ########################### */




