@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Nunito:400,700,300);
@import url(/static/css/font-awesome.min.css);
@import url(/static/css/syntax.css);

/* CUGOS CSS */
body {
  margin:0;padding:0;
  background-color: #f6f6f6;
  font-family: 'Source Sans Pro', sans-serif;
}
.cf:before,
.cf:after {
  content:" ";
  display:table;
}
.cf:after {
  clear:both;
}
.cf {
  *zoom:1;
}
.outer {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
}
.inner {
  display: table-cell;
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
}
a { text-decoration:none; }
p, li { font-weight:100; }
strong { font-weight:900; }

.copyright {
  padding-top: 5px;
  text-align: center;
}

/* SCAFFOLDING */
.container {
  display:block;
  margin:auto;
  position:relative;
}
.page-header {
  width:100%;
  background:url(/image/springfling2015-homepage.jpg) center center no-repeat;
  background-size:cover;
  text-align:center;
  color:#fff;
}
.page-header .header-info {
  padding:60px 0;
  background: rgba(0, 0, 0, 0.6);
}
.header-info h1 {
  font-size:3.3em;
  margin:0 auto;
  text-shadow:2px 2px 4px #000;
}
.header-info h2 {
  font-weight:100;
  font-size:1.2em;
  text-transform:uppercase;
  border-top:1px solid #fff;
  display:inline-block;
  margin:0;
  padding:.2em 1em;
  text-shadow:1px 1px 2px #000;
}
@media screen and (min-width:41em) {
  .container {
    width:40em;
  }
}
@media screen and (min-width:56em) {
  .container {
    width:55em;
  }
}

/* GLOBALS */
.main {
  padding:0 1em;
}
@media screen and (min-width:41em) {
  .main {
    padding:0;
  }
}
.content {
  line-height: 1.5em;
}
.content-main {}
.side-info {
  background-color:#fff;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  padding:1px 1em;
  font-size: 0.85em;
  line-height: 1.25em;
  margin-bottom: .4em;
}
.side-info.next-meeting {
  color: #fff;
  background-color: #D95959;
  padding:0;
}
.side-info.next-meeting a {
  padding: 1em;
  display: block;
  color: #fff;
}
.side-info.next-meeting a:hover {
  background: #333;
}

@media screen and (min-width:56em) {
  .content .content-main {
    float: left;
    width: 70%;
  }
  .content .content-side {
    float: right;
    width: 25%;
  }
}

.content a {
  color: #75a23f;
}
.content img {
  max-width:100%;
  height:auto;
}
.content blockquote {
  font-style:italic;
  color:#999;
}
.content hr {
  border:none;
  border-top:1px dashed #333;
}
.content-main h3 {
  font-weight: 600;
}
@media screen and (min-width:41em) {
  .content {
    padding:0;
    font-size:1.1em;
  }
}

/* HELPERS */
.text-gold { color: #FFD700; }
.text-silver { color: #c0c0c0; }
.text-bronze { color: #cd7f32; }
.text-blue { color: #3f75a2; }

.push-right { margin-right: .5em; }
.push-left { margin-left: .5em; }


/* NAVIGATION */
nav {
  display:block;
  background-color: #3f75a2;
  border-bottom: none;
  font-family: 'Dosis', sans-serif;
  padding: 1.2em 0;
}
#menu-expand {
  position: absolute;
  right: 0;
  top: 0;
  width:40px;
  height:40px;
  border:none;
  background-color:transparent;
  font-size:1.9em;
  color:#f6f6f6;
}
#menu-expand:hover {
  cursor:pointer;
  opacity:.8;
}
#menu {
  display:none;
  margin:0;
  padding:0;
}
#menu li {
  display:block;
  padding: 0 .8em;
}
#menu li a {
  display:block;
  font-weight: 200;
  font-size: 1em;
  color: #e5e5e5;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding:.6em 0;
  border-bottom: 2px solid transparent;
}
#menu li:hover a {
  border-bottom: 2px solid white;
}
#menu li.active a {
  font-weight:900;
}

#brand-logo {
  font-size:2em;
  font-weight:900;
  color:#fff;
}
#brand-logo .cugos-svg {
  margin-top:-10px;
  width: 35px;
  height: 35px;
  fill: #e5e5e5;
  vertical-align:middle;
}
#brand-logo:hover {
  opacity:.8;
}
@media screen and (min-width:41em) {
  #menu {
    margin:0;
    padding:0;
    display: inline-block;
    float: right;
  }
  #menu-expand {
    display:none;
  }
  #menu li {
    display:inline;
  }
  #menu li a {
    display:inline-block;
  }
  #brand-logo {
    display: inline-block;
    float: left;
    font-size:1.9em;
    margin-right: 1em;
    font-weight:900;
    color:#fff;
  }
}


/* HOMEPAGE */
.home .cugos-svg {
  margin:auto;
  width:100px;
  height:100px;
  display:block;
  fill: #ffffff;
}
.intro {
  position:relative;
  overflow:hidden;
  padding: 1em;
  background-color:#ffffff;
}
.intro p {
  color:#333;
  font-size:1.2em;
  line-height:1.4em;
  padding:0; margin:0;
  letter-spacing:.12em;
  text-align:center;
}
@media screen and (min-width:41em) {
  .intro p {
    text-align:left;
    font-size:1.5em;
  }
}
.intro p span {
  padding-bottom:2px;
  border-bottom:2px solid #D95959;
}

.left,
.right {
  display: block;
  padding: 1em;
  min-height: 120px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  font-size: 1.3em;
}
.left {
  background: #D95959;
  color: white;
}
.right {
  background: #d5d5d5;
  color: #555;
}
.left:hover, .right:hover {
  opacity: 0.7;
}
@media screen and (min-width:56em) {
  .left, .right { width: 50%; }
  .left { float: left; }
  .right { float: right; }
}

/* MEETING PAGE */
.meetings-desc {
  display: block;
}
#meetings-list {
  margin:0;padding:0;
  list-style-type: none;
}
#meetings-list li {
  background-color:#fff;
  margin-bottom:15px;
}
#meetings-list li a {
  text-decoration:none;
}
#meetings-list li img {
  float:left;
  margin-right:15px;
}
.meeting-list-info {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  padding:15px;
  color:#333;
}
.meeting-list-date {
  font-weight:900;
}
.meeting-list-address {
  font-size:.9em;
  color:#c0c0c0;
}
@media screen and (min-width:56em) {
  #meetings-list li {
    float:left;
    width:46%;
  }
  #meetings-list li:nth-child(2n) {
    float:right;
  }
  .meeting-list-info {
    padding:0px 15px;
  }
  #meetings-list li:hover {
    background-color:#333;
  }
  #meetings-list li:hover .meeting-list-info {
    color:#e5e5e5
  }
}



/* SINGLE MEETINGS */
.page-header.meeting {
  background-image:url(/image/header-from-above.png);
}
.meeting-info-item span,
.side-info span {
  color: #999;
}
.meeting-map {
  height:200px;
}
#event-map {
  height:200px;
}
@media screen and (min-width:56em) {
  #event-map {
    width:100%;
    height:300px;
  }
}
.coords {
  display:block;
  text-align:right;
  font-size:.8em;
  color:#999;
}
.previous-meeting {
  padding-top: 1em;
  border-top: 1px solid #d5d5d5;
  color: #999;
  margin-bottom: 3em;
}
.previous-meeting a {
  color: #555;
}
.all-meetings {
  float: right;
}

/* PEOPLE */
#people-map {
  height:400px;
  width:100%;
  margin-bottom:1em;
  background-color:#c0c0c0;
}
.person {
  position:relative;
  display:inline-block;
  width:160px;
  height:160px;
  background-color:#c0c0c0;
  background-size: cover;
  background-position: center center;
  margin:6px;
}
.tooltip {
  position: absolute;
  top: -32px;
  /*bottom:-140px;*/
  width: 140px;
  padding: 5px 10px;
  color: white;
  background: rgba(0,0,0,0.8);
  border-radius: 2px;
  font-size: .7em;
  text-align: center;
}
.tooltip:after {
  content: " ";
  position: absolute;
  left: 50%;
  bottom: -6px;
  margin-left: -6px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0,0,0,0.8);
}

/* BLOG REEL */
.recent-post-header {
  font-size:.8em;
  font-weight:900;
  text-transform: uppercase;
  margin:20px 0 0;
  font-style:italic;
}
.recent-title {
  font-weight:900;
  margin:0;
  font-size:2em;
}
.recent-title a {
  color:#000;
  font-weight:900;
}
.recent-date {
  display:inline-block;
  padding:.3em .9em;
  background-color:#75a23f;
  color:#fff;
}

.posts {
  margin:0;
  padding:0;
  list-style-type: none;
}
.posts li {
  margin:5px;
  background-color:#fff;
}
.posts li a {
  padding:.5em 1em;
  display:block;
  color:#333;
}
.posts li a:hover {
  background-color:#333;
  color:#f6f6f6;
}
.posts li a:hover .blog-date {
  color:#fff;
}
.post-date {
  font-weight:100;
  color:#999;
  margin-right:15px;
}
.post a.current {
  background-color:#3f75a2;
  color:#f6f6f6;
}
.post a.current .blog-date {
  color:#222;
}

/* EVENTS */
.main.event {}
.event-header {
  position:relative;
  width:100%;
  height:300px;
  text-align:center;
  color:#fff;
  background-position:center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.event-header-credits {
  position:absolute;
  right:10px;
  bottom:5px;
  color:#fff;
  text-transform:uppercase;
  font-size:.8em;
}
.event-header-credits a { color:#fff; }
.event-header-credits a:hover { text-decoration:underline; }
.event-header .outer {
  background-color:rgba(0,0,0,0.45);
}
.event .outer .inner {}
.event-title {
  text-shadow:2px 2px 2px rgba(0,0,0,0.8);
  margin:0;
  font-size:2.5em;
}
.event-date {
  font-size:1.5em;
  margin-bottom:1em;
  text-shadow:2px 2px 2px rgba(0,0,0,0.8);
}
.event-date .fa {
  margin-right:15px;
}
.event-register-button {
  padding:1em 1.5em;
  font-size:1.2em;
  text-transform:uppercase;
  background:#75a23f;
  color:#fff;
  -webkit-transition: .3s;
     -moz-transition: .3s;
      -ms-transition: .3s;
       -o-transition: .3s;
          transition: .3s;
}
.event-register-button:hover {
  /*background-color:#9ebd78;*/
}
.event-register-button .fa {
  margin-left:15px;
}
.event-content {
  font-size:1.2em;
  line-height:1.7em;
}
.event-content h2,
.event-content-title {
  text-transform:uppercase;
  color:#444;
  font-size:25px;
  border-bottom:1px solid #c0c0c0;
}
.event-content p {
  margin: 1.6em 0;
}
.event-content a {
  text-decoration: underline;
  color: #75a23f;
  font-weight: 700;
}
.event-content img {
  width: 100%;
  height: auto;
}
@media screen and (min-width:56em) {
  .event-header {
    height:500px;
  }
  .event-title {
    font-size:5em;
  }
  .event-date {
    font-size:2em;
  }
}

.speaker {
  float: right;
  width: 100px;
  margin-left: 1em;
  text-align: center;
}
.speaker-image {
  width: 100%;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: .5em;
  border: 2px solid #f6f6f6;
}
.speaker-image img {
  width: 100%;
  height: auto;
}
.speaker-name,
.speaker-company {
  font-size: 0.7em;
  margin: 0;
}
.speaker-name {}
.speaker-company {
  color: #c0c0c0;
}

.schedule {}
.schedule-block {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-right:1px solid #e5e5e5;
  border-bottom:1px solid #e5e5e5;
}
.schedule-block a {
  color:#75a23f;
}
.schedule-block.time {
  padding: 10px;
  background:#3f75a2;
  color:#f6f6f6;
}
.schedule-block.talk {
  padding:1em;
  background-color:white;
}

.schedule-block-title,
.schedule-block-name,
.schedule-block-description {
  padding:0;
  margin:0;
}
.schedule-block-title {}
.schedule-block.time .schedule-block-title {}
.schedule-block-name {
  text-transform:uppercase;
  font-size:.8em;
  margin-bottom:.5em;
}
.schedule-block-description {
  font-size:.9em;
}
.schedule-block.talk .schedule-block-description {
  color:#999;
}
@media screen and (min-width:56em) {
  .schedule-block {
    width:100%;
    float:left;
  }
  .schedule-block.talk.half {
    width:50%;
    height:250px;
  }
  .schedule-block.talk.third {
    width:25%;
    height:295px;
  }
}

.sponsor-level-title {
  text-transform: uppercase;
  font-size:1.2em;
  padding:.2em;
  margin-top:3em;
}
.event-sponsor {
  height:auto;
  display:inline-block;
  margin:1em auto;
}
@media screen and (min-width:56em) {
  .event-sponsor {
    display:inline-block;
    vertical-align:middle;
    margin:0 1em 0 0;
    height:auto;
  }
}

/* ALERTS */
.alert {
  display:block;
  background-color:#75a23f;
  border-radius:0px;
  padding:.5em;
  text-align:center;
  font-size:1.3em;
  color:#f6f6f6;
  margin:.3em auto;
}
.alert.event {
  font-family: 'Dosis', sans-serif;
  font-weight:100;
  font-size:1.4em;
  letter-spacing:.15em;
  padding:3em;
  text-transform:uppercase;
  background:#333;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.alert.blue {
  background: #3f75a2;
}
.alert.red {
  background: #D95959;
}
.alert.event .fa {
  -webkit-transition: .3s;
     -moz-transition: .3s;
      -ms-transition: .3s;
       -o-transition: .3s;
          transition: .3s;
  margin-left:15px;
}
.alert.event:hover .fa {
  margin-left:25px;
}
.alert.blue.no-hover {
  pointer-events: none;
}
.alert.no-margin {
  margin: 0 auto;
}
.alert.no-bump {
  font-size: 1em;
}
.alert:hover {
  background-color:#333;
  color:#f6f6f6;
}

/* MAIL NOTIFICATION */
.mailing {
  padding: 1em;
  margin: .3em auto;
  background: #d5d5d5;
  position: relative;
  color: #555;
}
.mailing span {
  font-size: 1.5em;
}
.mailing span a {
  border-bottom: 1px solid #555;
  margin-bottom: 5px;
  text-decoration: none;
  color: #555;
}
.mailing .fa {
  position: absolute;
  right: 0.5em;
  top: 50%;
  margin-top: -.5em;
  font-size: 2em;
}
.mailing::after {
  content: " ";
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -20px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #d5d5d5;
}

/* FOOTER */
footer p {
  color:#999;
}
footer p .fa {
  font-size:1.2em;
  margin:0 15px;
}
footer p a {
  color:#999;
}
