.meeting {
	#map {
		height:300px;
		width:100%;
		background-color:#c0c0c0;
	}
	.address {
		color:#999;
	}
	.notes {
		font-style: italic;
	}
	.coords {
		font-size:.9em;
		color:#999;
		text-align:right;
	}
}