---
layout: default
title: Blog
weight: 4
permalink: /
---

     <h2>Blog</h2>
{% for post in site.posts %}
  {% if post.category != 'people' %}
    {% if post.category != 'meetings' %}
      <div class="row">
        <div class="span12">
          <div class="blog">
            <h2><a href={{ blog.url }}>{{ post.title }}</a></h2>
            <span class="date">{{ post.date | date_to_string }}</span>
            <div class="entry">{{ post.content | truncatewords:100 }}</div>
            <h3><a href={{ blog.url }}>...more</a></h3>
          </div>
        </div>
      </div>
      <hr>
    {% endif %}  
  {% endif %}
{% endfor %}

