<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Le styles -->
    <link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.css" />
    <style type="text/css">
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
    </style>
    <link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap-responsive.css" />
    <link rel="stylesheet" href="{{site.baseurl}}/css/syntax.css" />
    <link rel="stylesheet" href="{{site.baseurl}}/css/cugos.css" />
    <!-- link href="../assets/css/bootstrap-responsive.css" rel="stylesheet" --!>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="../assets/js/html5shiv.js"></script>
        <![endif]-->         
    <!-- Fav and touch icons -->
{% for css_name in page.extra_css %}
    <link rel="stylesheet" href="{{site.baseurl}}/{{ css_name }}">
{% endfor %}

    <script src="{{site.baseurl}}/js/jquery-1.9.1.js"></script>
    <script src="{{site.baseurl}}/js/bootstrap-transition.js"></script>
    <script src="{{site.baseurl}}/js/bootstrap-collapse.js"></script>

{% for js_name in page.extra_js %}
    <script src="{{site.baseurl}}/{{ js_name }}"></script>
{% endfor %}

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{site.baseurl}}/image/base/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{site.baseurl}}/image/base/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{site.baseurl}}/image/base/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{site.baseurl}}/image/base/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="{{site.baseurl}}/image/base/favicon.ico">
  </head>

  <body>
    <a class="hidden-phone hidden-tablet" href="https://github.com/cugos/cugos.github.com""><img style="position: absolute; top: 0; right: 0; border: 0; z-index:3000;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/" style="color:black;"><img src="{{site.baseurl}}/image/base/cugos_logo.png">  CUGOS</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
{% for weight in (1..10) %}{% for p in site.pages %}{% if p.weight == weight %}              <li {% if p.url == page.url %}class="active"{% endif %}><a href="{{ p.url }}">{{ p.title }}</a></li>
{% endif %}{% endfor %}{% endfor %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>    
    <div class="container">
      {{ content }}
      <div class="row">
        <div class="span12">
          <br>
        </div>
      </div>
      <footer>
        <p>&copy; CUGOS 2013</p>
      </footer>
    </div>    

    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38620349-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
  </body>
</html>
