---
---

{% include head.html %}

<header class="event-header" style="background-image:url({{ site.baseurl }}/image/{{ page.event_header-image }});">
  <div class="outer">
    <div class="inner">
      <h1 class="event-title">{{ page.title }}</h1>
      <p class="event-date"><i class="fa fa-calendar"></i>{{ page.event_date }}</p>
      <a class="event-register-button" target="_blank" href="{{ page.event_register-url }}">Register, it's free!<i class="fa fa-thumbs-o-up"></i></a>
    </div>
  </div>
  <!-- remove this after event! -->
  <div class="event-header-credits">credit: <a target="_blank" href="https://www.mapbox.com/">{{ page.event_header-credit }}</a></div>
</header>

<div class="container">
  <div class="main event">
    <div class="event-content">{{ content }}</div>

    <div id="event-map" 
         class="map-marker"
         data-latitude="{{ page.lat }}"
         data-longitude="{{ page.lng }}"
         data-popup="{{ page.address }}"></div>
    
    {% if page.schedule %}
      <h2 class="event-content-title">Schedule</h2>
      <div class="schedule cf">
        {% for item in page.schedule %}
        <div class="schedule-block {{ item.type }}">
          <h3 class="schedule-block-title">{{ item.title }}</h3>
          {% if item.name %}
          <p class="schedule-block-name">{{ item.name }}</p>
          {% endif %}
          <p class="schedule-block-description">{{ item.description }}</p>
        </div>
        {% endfor %}
      </div>
    {% endif %}


    {% if page.speakers %}
      <h2>Speakers</h2>
      <div class="speakers cf">
        {% for speaker in page.speakers %}
          <div class="speaker">
            <img class="speaker-image" src="{{ speaker.image }}">
            <p class="speaker-name">{{ speaker.name }}</p>
            <p class="speaker-info">{{ speaker.info }}</p>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    
    <div class="event-sponsors">

      {% if page.event_sponsors_platinum %}
        {% include event-sponsor.html sponsors=page.event_sponsors_platinum title="Platinum Sponsors" color="text-blue" %}
      {% endif %}

      {% if page.event_sponsors_gold %}
        {% include event-sponsor.html sponsors=page.event_sponsors_gold title="Gold Sponsors" color="text-gold" %}
      {% endif %}

      {% if page.event_sponsors_silver %}
        {% include event-sponsor.html sponsors=page.event_sponsors_silver title="Silver Sponsors" color="text-silver" %}
      {% endif %}

      {% if page.event_sponsors_bronze %}
        {% include event-sponsor.html sponsors=page.event_sponsors_bronze title="Bronze Sponsors" color="text-bronze" %}
      {% endif %}

      {% if page.event_sponsors_comm %}
        {% include event-sponsor.html sponsors=page.event_sponsors_comm title="Community Sponsors" color="text-bronze" %}
      {% endif %}      

    </div>
  </div>
</div>

{% include footer.html %}
