{% include head.html %}

<div class="container">

  <header class="page-header home">
    <div class="header-info">
      {% include cugos-svg-logo.html %}
      <h1>CUGOS</h1>
    </div>
  </header>

  {% include next-meeting.html %}

  <div class="chunk intro">
    <p>The Cascadia chapter of OSGeo is focused on learning and teaching about <span>open data</span>, <span>maps</span>, and <span>spatial applications</span>. We like code and good conversation.</p>
  </div>

  <div class="main">

    <div class="content">
    	{{ content }}
    </div>

  </div>

</div>

{% include footer.html %}
