---
layout: default
extra_js:
  - /js/maps/leaflet.js
  - /js/meeting.js
extra_css:
  - /css/maps/leaflet.css
  - /css/maps/leaflet.ie.css
---

<script>
  var lat = {{ page.lat }};
  var lng = {{ page.lng }};  
</script>

<header class="page-header meeting" {% if page.header_img %}style="background-image:url({{ site.baseurl }}/image/{{ page.header_img }});"{% endif %}>
  <div class="header-info">
    <h1>{{ page.date | date_to_string }}</h1>
    <h2>Cugos Meeting</h2>
  </div>
</header>

<div class="meeting-info">
  <h2>CUGOS Meeting</h2>
  <h4 class="date">{{ page.date | date_to_string }} | <strong>{{ page.time }}</strong></h4>
  <p class="location">Host: {{ page.location }}</p>
  <p class="address">{{ page.address }}</p>
  <p class="notes">{{ page.notes }}</p>
</div>
<div id="meeting-map"></div>
<p class="coords">{{ page.lat }}, {{ page.lng }}</p>

<div class="content">
  {{ content }}
</div>

<!-- list of other meetings -->
<h2>Previous Meetings</h2>
<ul id="meetings-list-single">
{% for meeting in site.categories.meetings %}
  <li><a {% if page.url == meeting.url %}class="active"{% endif %} href={{ meeting.url }}>{{ meeting.date | date: "%m/%d/%Y" }}</a></li>
{% endfor %}
</ul>

<script>
var map = L.map('meeting-map').setView([lat, lng], 13);
L.tileLayer('https://{s}.tiles.mapbox.com/v3/cugos.jolef8gc/{z}/{x}/{y}.png').addTo(map);
var mbox = L.icon({
  iconUrl: '/js/maps/img/marker.png',
  iconSize:     [30, 70],
  iconAnchor:   [15, 35]
});
var marker = L.marker([lat, lng], {
  icon: mbox
}).addTo(map);
</script>