---
layout: default
---

<header class="page-header meeting" {% if page.header_img %}style="background-image:url({{ site.baseurl }}/image/{{ page.header_img }});"{% endif %}>
  <div class="header-info">
    <h1>{{ page.date | date_to_string }}</h1>
    <h2>Cugos Meeting</h2>
  </div>
</header>

<div class="content cf">

  <div class="content-side">
    <div class="side-info">
      <h2>Meeting Info</h2>
      <p class="meeting-info-item"><span>Date & time</span><br>{{ page.date | date_to_string }}, {{ page.time }}</p>
      <p class="meeting-info-item"><span>Host</span><br>{{ page.location }}</p>
      <p class="meeting-info-item"><span>Address</span><br>{{ page.address }}</p>
      <p class="meeting-info-item">{{ page.notes }}</p>
    </div>
    <div id="map"
         class="meeting-map map-marker"
         data-latitude="{{ page.lat }}"
         data-longitude="{{ page.lng }}"
         data-popup="{{ page.address }}"></div>
    <p class="coords">{{ page.lat }}, {{ page.lng }}</p>
  </div>

  <div class="content-main">
    {{ content }}
  </div>

</div>

<!-- list of other meetings -->
<p class="previous-meeting">
  {% include pagination.html %}
  <span class="all-meetings"><a href="/meetings">All meetings</a></span>
</p>